# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/

# Config
*.env
!example.env
*.tfvars
!example.tfvars

# Data
*.csv

# Visual Studio Code
.vscode

# Debugging data
debug/
