fastavro==1.6.1
Flask==2.2.2
Flask-Pydantic==0.11.0
functions-framework==3.2.0
functions-wrapper==1.0.2
google-auth==2.11.1
google-cloud-bigquery==3.13.0
google-cloud-bigquery-storage==2.16.0
pyarrow>=14.0.1
pydantic==1.10.2
typing_extensions==4.3.0
Werkzeug==2.2.2